﻿@model Homework1.Models.Contact

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact</h2>

@using (Html.BeginForm())
{
    <div class="row">
        @Html.LabelFor(model => model.Name, "Name")
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>
    <div class="row">
        @Html.LabelFor(model => model.Email, "Email")
        @Html.EditorFor(model => model.Email)
        @Html.ValidationMessageFor(model => model.Email)
    </div>
    <div class="row">
        @Html.LabelFor(model => model.Comment, "Comment")
        @Html.TextAreaFor(model => model.Comment)
        @Html.ValidationMessageFor(model => model.Comment)
    </div>
    <input type="submit" name="submit" value="Submit" />
    <input type="reset" name="reset" value="Reset" />
}