﻿@model Homework1.Models.Donate

@{
    ViewBag.Title = "Donate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Donate</h2>

@using (Html.BeginForm())
{
<div class="row">
    @Html.LabelFor(model => model.FirstName)
    @Html.EditorFor(model => model.FirstName)
    @Html.ValidationMessageFor(model => model.FirstName)
</div>
<div class="row">
    @Html.LabelFor(model => model.LastName)
    @Html.EditorFor(model => model.LastName)
    @Html.ValidationMessageFor(model => model.LastName)
</div>
<div class="row">
    @Html.LabelFor(model => model.Amount)
    @Html.EditorFor(model => model.Amount)
    @Html.ValidationMessageFor(model => model.Amount)
</div>
<div class="row">
    @Html.LabelFor(model => model.CreditCard)
    @Html.EditorFor(model => model.CreditCard)
    @Html.ValidationMessageFor(model => model.CreditCard)
</div>
    <input type="submit" value="Donate" name="submit"/>
    <input type="reset" value="Reset" name="submit" />
}